.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.reviews {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.reviews__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
   @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
   @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.reviews__text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #000000;
  background-color: #fafafa;
  padding: 41px 52px 19px 71px;
  z-index: 100;
  margin-bottom: 34px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
    padding: 37px 53px 44px 51px;
    background-color: transparent;
    margin-bottom: 24px;
    margin-left: 42px;
    margin-right: 42px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;
    padding: 47px 109px 39px 109px;
    background-color: #fafafa;
    margin-bottom: 36px;
    margin-left: 100px;
    margin-right: 100px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 59px;
    z-index: -10;
    background-image: url(../images/marks.png);
    width: 54px;
    height: 40px;
    @media screen and (min-width: 768px) {
      top: 20;
      left: 6;
      width: 60px;
      background-image: url(../images/marks-768.png);
    }
    @media screen and (min-width: 1200px) {
      top: 32;
      left: 72;
      width: 54px;
      background-image: url(../images/marks.png);
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 72px;
    left: 56px;
    width: 100%;
    max-width: 180px;
    height: 217px;
    @media screen and (min-width: 768px) {
      top: 68px;
      left: 6px;
      max-width: 608px;
      height: 64px;
    }
    @media screen and (min-width: 1200px) {
      top: 76px;
      left: 73px;
      max-width: 821px;
      height: 32px;
    }
    background-image: -webkit-repeating-linear-gradient(
      top,
      #e1e1e1 0px,
      #e1e1e1 1px,
      transparent 1px,
      transparent 30px,
      #e1e1e1 30px
    );
    background-image: -moz-repeating-linear-gradient(
      top,
      #e1e1e1 0px,
      #e1e1e1 1px,
      transparent 1px,
      transparent 30px,
      #e1e1e1 30px
    );
    background-image: -ms-repeating-linear-gradient(
      top,
      #e1e1e1 0px,
      #e1e1e1 1px,
      transparent 1px,
      transparent 30px,
      #e1e1e1 30px
    );
    background-image: -o-repeating-linear-gradient(
      top,
      #e1e1e1 0px,
      #e1e1e1 1px,
      transparent 1px,
      transparent 30px,
      #e1e1e1 30px
    );
    background-image: repeating-linear-gradient(
      top,
      #e1e1e1 0px,
      #e1e1e1 1px,
      transparent 1px,
      transparent 30px,
      #e1e1e1 30px
    );
  }
}

.reviews__name {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin-bottom: 28px; 
  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 44px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
  &::before {
    // content: '';
    // position: absolute;
    // top: -16px;
    // left: 50%;
    // transform: translateX(-50%);
    // background-image: url(../images/dots.png);
    // width: 32px;
    // height: 4px;
    content: '. . .';
    color: #c7133e;
    font-size: 31px;
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/slider-dots.png);
    width: 72px;
    height: 12px;
    @media screen and (min-width: 768px) {
      bottom: -44px;
    }
  }
}
