@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.header {
  position: absolute;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 199px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 25px;
}
.header__button {
  display: flex;
  border: none;
  background-color: transparent;
  padding-top: 27px;
  z-index: 4;
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: none;
  }
}
.header__icon--close {
  display: none;
}
.header__button-menu {
  display: flex;
  position: relative;
  background-color: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  justify-content: center;
  color: #d41443;
  width: 209px;
  height: 44px;
  border: none;
  border-radius: 22px;
  margin-bottom: 19px;
  margin-left: 20px;
}
.header__button-menu::after {
  content: "";
  display: inline-block;
  background-image: url(/src/images/vector-header.svg);
  width: 8px;
  height: 10px;
  margin-left: 28px;
}

.header__button.is-open .header__icon--close {
  display: block;
}

.header__button.is-open .header__icon--menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    background-color: #e17992;
    padding-top: 60px;
    height: 502px;
    z-index: 3;
  }
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100vh;
  }
}
.menu-container__nav {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
    align-items: center;
    width: 100%;
  }
}

.site-nav__item {
  border: 1px solid #e18298;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 11px;
}
.site-nav__link {
  text-decoration: none;
  color: #ffffff;
}
.site-nav__link--page {
  color: #d41443;
}

.hero {
  background-color: #ffb8ca;
  margin: 0 auto;
  padding-top: 194px;
  padding-bottom: 158px;
}
@media screen and (max-width: 319px) {
  .hero {
    background-image: url(/src/images/hero-mb-bg.jpg);
    height: 502px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 319px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 319px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/src/images/hero-mb-bg@2x.jpg);
    background-size: cover;
    height: 502px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    background-image: url(/src/images/hero-mb-bg.jpg);
    height: 502px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 194px;
    padding-bottom: 158px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/src/images/hero-mb-bg@2x.jpg);
    background-size: contain;
    height: 502px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-top: 43px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 54px;
    padding-bottom: 60px;
  }
}
.hero__title {
  width: 218px;
  margin-bottom: 20px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1578947368;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    font-size: 22px;
    max-width: 162px;
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
    width: 277px;
    display: inline-block;
    margin-bottom: 24px;
  }
}
.hero__span {
  color: #d41443;
  font-size: 48px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__span {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__span {
    font-size: 58px;
  }
}
.hero__main-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero__wrapper {
  z-index: 1;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__wrapper {
    margin-top: 59px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    margin-top: 93px;
  }
}
.hero__btn-list {
  display: flex;
}
@media screen and (min-width: 320px) {
  .hero__btn-list {
    max-width: 154px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__btn-list {
    max-width: 154px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn-list {
    max-width: 257px;
    margin-bottom: 40px;
  }
}
.hero__btn-item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__btn-item:not(:last-child) {
    margin-right: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn-item:not(:last-child) {
    margin-right: 12px;
  }
}
.hero__btn {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.2857142857;
  color: #ffffff;
  background: #d41443;
  border-radius: 20px;
  padding: 9px 14px;
  transition: color 250ms linear, background-color 250ms linear;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__btn {
    font-size: 8px;
    padding: 9px 14px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    font-size: 14px;
    padding: 11px 22px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  color: #d41443;
  background-color: #ecebeb;
}

.--btn_modificator {
  color: #d41443;
  background: #ffffff;
}

.hero-about {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .hero-about {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-about__img {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-about__img {
    width: 213px;
  }
}
.hero-about__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-about__text {
    width: 114px;
    font-size: 8px;
    margin-bottom: 8px;
    line-height: 140%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-about__text {
    width: 200px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.hero-about__btn {
  background: #ffffff;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .hero-about__btn {
    width: 26px;
    height: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-about__btn {
    width: 18px;
    height: 18px;
  }
}
.hero-about__svg {
  fill: #d41443;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-about__svg {
    width: 6px;
  }
}

.hero-decor {
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero-decor {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-decor {
    position: absolute;
    left: 53%;
    top: 0;
    transform: translate(-50%, 80px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-decor .hero-decor__ellipse {
    width: 335px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-decor .hero-decor__ellipse {
    width: 534px;
  }
}
.hero-decor__icecream {
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-decor__icecream {
    width: 143px;
    bottom: -18px;
    left: 47%;
    transform: translatex(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .hero-decor__icecream {
    width: 236px;
    top: 71px;
    left: 47%;
    transform: translatex(-50%);
  }
}
.hero-decor__hot-lady {
  position: absolute;
}
@media screen and (max-width: 767px) {
  .hero-decor__hot-lady {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-decor__hot-lady {
    width: 190px;
    bottom: -18px;
    left: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-decor__hot-lady {
    width: 304px;
    bottom: -60px;
    left: 71%;
  }
}

@media screen and (max-width: 767px) {
  .hero-info {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-info {
    margin-top: 59px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info {
    margin-top: 93px;
    padding-right: 18px;
  }
}
.hero-info__number {
  position: relative;
  z-index: 2;
  font-family: "Titan One", cursive;
  font-weight: 400;
  line-height: 1.152173913;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-info__number {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info__number {
    margin-bottom: 2px;
    font-size: 46px;
  }
}
.hero-info__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-info__text {
    font-size: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info__text {
    font-size: 14px;
  }
}

.hero-info__number::after {
  position: absolute;
  z-index: -1;
  right: -28%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  content: "";
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-info__number::after {
    width: 16px;
    height: 16px;
    right: -23%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info__number::after {
    width: 30px;
    height: 30px;
    right: -28%;
  }
}

.products__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__label {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 15px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .section__label {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products-title__name {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 140px;
}
@media screen and (min-width: 768px) {
  .products-title__name {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .products-title__name {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 260px;
  }
}

.products__last-title--icecream {
  background: #ffb8ca;
  border-radius: 24px;
  text-align: center;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .products__last-title--icecream {
    padding-top: 118px;
    padding-left: 37px;
    padding-right: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .products__last-title--icecream {
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 60px;
  }
}

.products__last-title--icecoffee {
  background: #f0d1a5;
  border-radius: 24px;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .products__last-title--icecoffee {
    padding-top: 118px;
    padding-left: 37px;
    padding-right: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .products__last-title--icecoffee {
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 60px;
  }
}

.products__last-title--milkshakes {
  background: #c2e297;
  border-radius: 24px;
  text-align: center;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .products__last-title--milkshakes {
    padding-top: 118px;
    padding-left: 37px;
    padding-right: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .products__last-title--milkshakes {
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 60px;
  }
}

.products-name {
  font-family: "Titan One";
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .products-name {
    font-size: 20px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .products-name {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-name::after {
  content: ". . .";
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .products-name::after {
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .products-name::after {
    top: 205px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.products__text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  margin-bottom: auto;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .products__text {
    font-size: 14px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
    line-height: 1.8;
  }
}

.products-list {
  margin-bottom: -150px;
}
@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    margin-top: -16px;
    margin-left: -16px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    display: flex;
    margin-top: -32px;
    margin-left: -32px;
  }
}

.products-list__item {
  background-color: transparent;
  position: relative;
  height: 489px;
  margin-bottom: 150px;
}
@media screen and (min-width: 768px) {
  .products-list__item {
    height: 473px;
    display: flex;
    margin-top: 16px;
    margin-left: 16px;
    width: calc(33.3333333333% - 16px);
  }
}
@media screen and (min-width: 1200px) {
  .products-list__item {
    height: 535px;
    display: flex;
    margin-top: 32px;
    margin-left: 32px;
    width: calc(33.3333333333% - 32px);
  }
}

.products__immage {
  height: 100%;
  width: 100%;
  border-radius: 24px;
}

.products__immage--rose {
  background-color: #ffb8ca;
}

.products__immage--yellow {
  background-color: #f0d1a5;
}

.products__immage--green {
  background-color: #c2e297;
}

.products__immage--rose::before,
.products__immage--yellow::before,
.products__immage--green::before {
  content: "";
  width: 280px;
  height: 280px;
  position: absolute;
  left: 50%;
  top: -29%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .products__immage--rose::before,
.products__immage--yellow::before,
.products__immage--green::before {
    width: 224px;
    height: 224px;
    left: 50%;
    top: -29%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .products__immage--rose::before,
.products__immage--yellow::before,
.products__immage--green::before {
    width: 368px;
    height: 394px;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
  }
}

.products__immage--rose::before {
  background-image: url(../images/desctop-foto/ice1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__immage--rose::before {
    background-image: url(../images/desctop-foto/ice2x.png);
  }
}

.products__immage--yellow::before {
  background-image: url(../images/desctop-foto/pic1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__immage--yellow::before {
    background-image: url(../images/desctop-foto/pic2x.png);
  }
}

.products__immage--green::before {
  background-image: url(../images/desctop-foto/home-pic1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__immage--green::before {
    background-image: url(../images/desctop-foto/home-pic2x.png);
  }
}

.products__button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
}

.products__puncts {
  fill: #ffffff;
  margin-bottom: 32px;
}

.products__svg {
  fill: #d41443;
}

.about {
  background-color: #FFF5F6;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-pre-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about-pre-title {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.153;
  }
}
@media screen and (min-width: 1200px) {
  .about-pre-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
}

.about-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1470588235;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-top: 15px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about-title {
    margin-bottom: 30px;
    margin-top: 16px;
    font-size: 48px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    color: #D41443;
  }
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-weight: 400;
    font-size: 58px;
    line-height: 1.137;
    letter-spacing: 0.06em;
    margin-bottom: 0;
  }
}

.about-list {
  margin-top: 40px;
}

.about-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #000000;
  width: 220px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about-text {
    width: unset;
    font-size: 14px;
    line-height: 1.78;
    margin-right: 34px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .about-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    text-align: left;
    padding-top: 80px;
    margin-bottom: 0px;
  }
}

.about-text-2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #907E82;
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about-text-2 {
    width: unset;
    margin-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
    margin-right: 34px;
    letter-spacing: 0.04em;
    color: #907E82;
  }
}
@media screen and (min-width: 1200px) {
  .about-text-2 {
    width: unset;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
  }
}

.about-btn {
  border-radius: 22px;
  color: #D41443;
  background-color: #FFFFFF;
  width: 176px;
  height: 44px;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  transition: color, 300ms linear, background-color, 300ms linear;
}
@media screen and (min-width: 768px) {
  .about-btn {
    display: unset;
  }
}

.about-btn:hover,
.about-btn:focus {
  background-color: #D41443;
  color: #FFFFFF;
}

.about-milk {
  position: absolute;
  top: -50px;
}
@media screen and (min-width: 768px) {
  .about-milk {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about-milk {
    width: unset;
  }
}

.relative {
  position: relative;
}

@media screen and (min-width: 768px) {
  .about-flex {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .about-flex {
    display: flex;
  }
}

.about-img {
  padding-right: 32px;
}

.about-content {
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about-content {
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about-content {
    width: 463px;
  }
}

.about-milk-dex {
  display: none;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  .about-milk-dex {
    display: none;
  }
}
.about-icon {
  fill: #000000;
}

.list {
  list-style: none;
}

.advantages {
  padding-top: 40px;
  padding-bottom: 87px;
}

.advantages {
  padding-top: 40px;
  padding-bottom: 87px;
  background-color: #fff5f6;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 64px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    gap: 112px;
  }
}

.advantages-item {
  width: 230px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    width: 180px;
  }
}

.advantages-icon {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages-icon {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-icon {
    margin-bottom: 40px;
  }
}

.advantages-item-icon {
  fill: #ffa5ba;
}

.advantages-item-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .advantages-item-title {
    margin-bottom: 22px;
  }
}

.advantages-item-discription {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 25%, #ffffff 25%);
}

.masonry__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gread__list {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 4px;
}
@media screen and (min-width: 768px) {
  .gread__list {
    grid-gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.gread__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  overflow: hidden;
}

.gread__item:hover {
  transform: scale(2);
}

.gread__item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media screen and (min-width: 768px) {
  .gread__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}

.gread__item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media screen and (min-width: 768px) {
  .gread__item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }
}

.gread__item-3 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media screen and (min-width: 768px) {
  .gread__item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
  }
}

.gread__item-4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 7;
}
@media screen and (min-width: 768px) {
  .gread__item-4 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
  }
}

.gread__item-5 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media screen and (min-width: 768px) {
  .gread__item-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
  }
}

.gread__item-6 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media screen and (min-width: 768px) {
  .gread__item-6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
  }
}

.gread__item-7 {
  grid-column-start: 7;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
@media screen and (min-width: 768px) {
  .gread__item-7 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
  }
}

.gread__item-8 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
@media screen and (min-width: 768px) {
  .gread__item-8 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}

.gread__item-9 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}
@media screen and (min-width: 768px) {
  .gread__item-9 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
  }
}

.gread__item-10 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}
@media screen and (min-width: 768px) {
  .gread__item-10 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}

.reviews {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.reviews__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}
@media screen and (min-width: 768px) {
  .reviews__photo {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__photo {
    margin-bottom: 16px;
  }
}

.reviews__text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #000000;
  background-color: #fafafa;
  padding: 41px 52px 19px 71px;
  z-index: 100;
  margin-bottom: 34px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
    padding: 37px 53px 44px 51px;
    background-color: transparent;
    margin-bottom: 24px;
    width: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    font-size: 16px;
    line-height: 186%;
    padding: 47px 109px 39px 109px;
    background-color: #fafafa;
    margin-bottom: 36px;
    width: 968px;
  }
}
.reviews__text::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 59px;
  z-index: -10;
  background-image: url(../images/marks.png);
  width: 54px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .reviews__text::before {
    top: 20;
    left: 6;
    width: 60px;
    background-image: url(../images/marks-768.png);
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text::before {
    top: 32;
    left: 72;
    width: 54px;
    background-image: url(../images/marks.png);
  }
}
.reviews__text::after {
  content: "";
  position: absolute;
  top: 72px;
  left: 56px;
  width: 100%;
  max-width: 180px;
  height: 217px;
  background-image: repeating-linear-gradient(#e1e1e1 0px, #e1e1e1 1px, transparent 1px, transparent 30px, #e1e1e1 30px);
}
@media screen and (min-width: 768px) {
  .reviews__text::after {
    top: 68px;
    left: 6px;
    max-width: 608px;
    height: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text::after {
    top: 76px;
    left: 73px;
    max-width: 821px;
    height: 32px;
  }
}

.reviews__name {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .reviews__name {
    font-size: 16px;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__name {
    font-size: 20px;
  }
}
.reviews__name::before {
  content: ". . .";
  color: #c7133e;
  font-size: 31px;
  position: absolute;
  top: -37px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews__name::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/slider-dots.png);
  width: 72px;
  height: 12px;
}
@media screen and (min-width: 768px) {
  .reviews__name::after {
    bottom: -44px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  position: relative;
  background-color: #fff5f6;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .contacts-container {
    flex-direction: row;
    gap: 32px;
  }
}

.contacts {
  position: relative;
  padding: 40px 32px;
  font-size: 12px;
  font-weight: 500;
  width: 280px;
  padding: 40px 32px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .contacts {
    width: 224px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: 368px;
  }
}
.contacts__category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 17px;
  padding-right: 17px;
  width: 80px;
  height: 16px;
  background-color: #f0d1a5;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__category {
    width: 73px;
    height: 28px;
    font-size: 14px;
    line-height: 1.87;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__category {
    width: 75.1px;
    height: 28px;
    font-size: 16px;
    line-height: 1.87;
  }
}
.contacts__city {
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__city {
    font-size: 14px;
    line-height: 1.85;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__city {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 8px;
  }
}
.contacts__description {
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contacts__description {
    font-size: 14px;
    line-height: 1.64;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__description {
    font-size: 16px;
    line-height: 1.81;
  }
}
.contacts__item {
  line-height: 1.83;
  color: #000000;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    font-size: 16px;
    line-height: 1.87;
  }
}
.contacts__item--color {
  color: #ffa5ba;
}
.contacts__tel {
  line-height: 1.5;
  color: #907e82;
}
.contacts__mail {
  line-height: 1.5;
  color: #907e82;
}
.contacts__list--margin {
  margin-bottom: 8px;
}
.contacts__list {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    margin-top: 12px;
  }
}
.contacts__nav {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .contacts__nav {
    margin-top: 64px;
  }
}

.category--color {
  background-color: #c2e297;
  width: 130px;
}
@media screen and (min-width: 768px) {
  .category--color {
    width: 138px;
  }
}

.contacts__description::after {
  display: block;
  content: "";
  position: absolute;
  left: 32px;
  top: 166px;
  width: 216px;
  height: 0px;
  border: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__description::after {
    top: 235px;
    width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__description::after {
    top: 220px;
    width: 288px;
  }
}

.contacts__nav::before {
  display: block;
  content: "";
  position: absolute;
  left: 32px;
  top: 311px;
  width: 216px;
  height: 0px;
  border: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__nav::before {
    top: 408px;
    width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__nav::before {
    top: 416px;
    width: 288px;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  background-color: #fff5f6;
}
@media screen and (min-width: 768px) {
  .btn-container {
    margin-top: 60px;
    flex-direction: row;
  }
}

.btn-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 161.45px;
  height: 44px;
  background-color: #d41342;
  border-radius: 22px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-main:hover, .btn-main:focus {
  color: #000000;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .btn-main {
    flex-direction: row;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.btn-main::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  top: 19px;
  right: 18px;
  background-image: url(../images/contacts_arrow.svg);
  background-repeat: no-repeat;
  background-color: var(--accent-color);
}

.btn-second {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-second:hover, .btn-second:focus {
  color: #ffffff;
  background-color: #d41443;
}

.btn__icon {
  position: absolute;
  top: 19px;
  right: 18px;
}

.footer {
  background-color: #fff5f6;
}
.footer .container {
  padding: 20px 20px 0;
}
.footer .footer-content--wrapper {
  margin-bottom: 40px;
}
.footer__title-wrapper {
  max-width: 232px;
  margin-bottom: 40px;
}
.footer__title {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #ffa5ba;
}
.footer__subtitle {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.footer__social-wrapper {
  margin-bottom: 40px;
}
.footer__contact {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;
}
.footer__contact-link {
  color: #d41443;
}
.footer .footer-soc-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.footer .footer-soc-list__item:not(:last-child) {
  margin-right: 28px;
}
.footer .footer-soc-list__link {
  color: #fea5bb;
}
.footer .footer-soc-list__link:hover, .footer .footer-soc-list__link:focus {
  color: #d41443;
}
.footer .footer-basement {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907e82;
  border-top: 1px solid #e1e1e1;
  padding: 16px 0;
}
.footer .footer-basement--desktop {
  display: none;
}
.footer .icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer__title-wrapper {
    max-width: 340px;
    margin-bottom: 0;
  }
  .footer__title {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }
  .footer__subtitle {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
  .footer__contact {
    font-size: 14px;
    line-height: 1.86;
  }
  .footer .footer-content-bottom {
    align-self: flex-end;
  }
  .footer .footer-basement {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
  .footer .footer-basement--desktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title-wrapper {
    max-width: unset;
  }
  .footer__title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
  .footer__subtitle {
    font-size: 58px;
    line-height: 1.14;
  }
  .footer__contact {
    font-size: 16px;
  }
  .footer .footer-basement--desktop {
    display: flex;
  }
  .footer .footer-basement--mobile {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */