<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <div class="advantages-icon">
          <svg class="advantages-item-icon" width="33" height="50">
            <use href="/src/images/advantages_sprite.svg#icon-backet"></use>
          </svg>
        </div>
        <h3 class="advantages-item-title">721</h3>
        <p class="advantages-item-discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-icon">
          <svg class="advantages-item-icon" width="50" height="50">
            <use href="/src/images/advantages_sprite.svg#icon-apples"></use>
          </svg>
        </div>
        <h3 class="advantages-item-title">16kg</h3>
        <p class="advantages-item-discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-icon">
          <svg class="advantages-item-icon" width="44" height="50">
            <use href="/src/images/advantages_sprite.svg#icon-hart"></use>
          </svg>
        </div>
        <h3 class="advantages-item-title">84</h3>
        <p class="advantages-item-discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
