<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery-list gread__list">
      <li class="gread__item gread__item-6">
        <img
          srcset="
            ./images/gallery/beries.jpg    1x,
            ./images/gallery/beries-x2.jpg 2x
          "
          src="./images/gallery/beries.jpg"
          alt="icecream on the plate"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-2">
        <img
          srcset="./images/gallery/boy.jpg 1x, ./images/gallery/boy@x2.jpg 2x"
          src="./images/gallery/boy.jpg"
          alt="buy with icecream"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-10">
        <img
          srcset="./images/gallery/dog.jpg 1x, ./images/gallery/dog@x2.jpg 2x"
          src="./images/gallery/dog.jpg"
          alt="dog and icecream"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-4">
        <img
          srcset="./images/gallery/girl.jpg 1x, ./images/gallery/girl@x2.jpg 2x"
          src="./images/gallery/girl.jpg"
          alt="girl lick icecream"
          width="275"
        />
      </li>
      <li class="gread__item gread__item-5">
        <img
          srcset="./images/gallery/hand.jpg 1x, ./images/gallery/hand@x2.jpg 2x"
          src="./images/gallery/hand.jpg"
          alt="icecream in the hand"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-1">
        <img
          srcset="./images/gallery/ice.jpg 1x, ./images/gallery/ice@x2.jpg 2x"
          src="./images/gallery/ice.jpg"
          alt="lot of icecream"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-3">
        <img
          srcset="
            ./images/gallery/icecream.jpg    1x,
            ./images/gallery/icecream@x2.jpg 2x
          "
          src="./images/gallery/icecream.jpg"
          alt="icecream and berries"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-8">
        <img
          srcset="
            ./images/gallery/inthecup.jpg    1x,
            ./images/gallery/inthecup@x2.jpg 2x
          "
          src="./images/gallery/inthecup.jpg"
          alt="icecream in the cup"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-7">
        <img
          srcset="
            ./images/gallery/plate.jpg    1x,
            ./images/gallery/plate@x2.jpg 2x
          "
          src="./images/gallery/plate.jpg"
          alt="icecream on the plate"
          width="200"
        />
      </li>
      <li class="gread__item gread__item-9">
        <img
          srcset="
            ./images/gallery/street.jpg    1x,
            ./images/gallery/street@x2.jpg 2x
          "
          src="./images/gallery/street.jpg"
          alt="street icecream"
          width="200"
        />
      </li>
    </ul>
  </div>
</section>
