<section class="gallery">
  <div class="container">
    <ul class="gallery-list">
      <li>
        <img
          src="./images/gallery/beries.jpg"
          alt="icecream on the plate"
          width="100"
        />
      </li>
      <li>
        <img
          src="./images/gallery/boy.jpg"
          alt="buy with icecream"
          width="100"
        />
      </li>
      <li>
        <img
          src="./images/gallery/dog.jpg"
          alt="dog and icecream"
          width="100"
        />
      </li>
      <li>
        <img
          src="./images/gallery/girl.jpg"
          alt="girl lick icecream"
          width="100"
        />
      </li>
      <li>
        <img
          src="./images/gallery/hand.jpg"
          alt="icecream in the hand"
          width="100"
        />
      </li>
      <li>
        <img src="./images/gallery/ice.jpg" alt="lot of icecream" width="100" />
      </li>
      <li>
        <img
          src="./images/gallery/icecream.jpg"
          alt="icecream and berries"
          width="100"
        />
      </li>
      <li>
        <img
          src="./images/gallery/inthecup.jpg"
          alt="icecream in the cup"
          width="100"
        />
      </li>
      <li>
        <img
          src="./images/gallery/plate.jpg"
          alt="icecream on the plate"
          width="100"
        />
      </li>
      <li>
        <img
          src="./images/gallery/street.jpg"
          alt="street icecream"
          width="100"
        />
      </li>
    </ul>
  </div>
</section>
